[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
pyopengl = "*"
zbarlight = "*"
pillow = "*"
python-socketio = {extras = ["client"],version = "*"}

[requires]
python_version = "3.7"
